:root {
    --block-background: #FFFFFF;
    --block-background-opacity: #FFFFFF77;
    --background: #EEEEEE44;
    --text-color: #323232;
    --link-color: #434343;
}

body {
    height: 100%;
    background: var(--background);
}


#snackbar {
    background: var(--block-background);
    color: #17fc2e;
    text-align: center;
    border-radius: 3px;
    padding: 16px 32px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: 0.3s;
    opacity: 0;
}

#snackbar.show {
    transform: translate(-50%, 0%);
    transition: 0.5s;
    opacity: 1;
}

.button {
    padding: 10px 22px;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px #00000033;
    transition: 0.3s box-shadow;
    text-align: center;
    user-select: none;
    border: none;
    text-decoration: none;
    background: #4542f4;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
}

.datatable {
    width: 100%;
}

.datatable .dt-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0 101px;
}

.datatable .dt-table tr {
    border-top: 1px solid #00000022;
}

.datatable .dt-table td {
    padding: 4px 0px;
    white-space: nowrap;
}

.datatable .dt-table td.dt-buttons {
    text-align: end;
}

.datatable .dt-previous-page, .datatable .dt-next-page {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    margin: 0px 5px;
}

.datatable .dt-previous-page:hover,
.datatable .dt-next-page:hover {
    background: #00000022;
    cursor: pointer;
    border-radius: 100px;
}

.datatable .dt-search {
    float: right;
}

.datatable .dt-pagination {
    float: right;
}

.datatable .dt-rows-per-page {
    background: transparent;
}


.alert_title {
    text-align: center;
    width: calc(100% - 100px);
}

@media screen and (max-width: 720px) {
    .alert_contents {
        height: 100%;
        width: 390px;
        margin: auto;
    }

    .alert_alert {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    .alert_contents {
        width: 300px;
    }
}


.load-bar {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: #fdba2c;
}
.load-bar .bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
}
.load-bar .bar:nth-child(1) {
    background-color: #da4733;
    animation: loading 1.5s linear infinite;
}
.load-bar .bar:nth-child(2) {
    background-color: #4542f4;
    animation: loading 1.5s linear 0.45s infinite;
}
.load-bar .bar:nth-child(3) {
    background-color: #fdba2c;
    animation: loading 1.5s linear 1s infinite;
}
@keyframes loading {
    from {left: 0%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}

loadindicator {
    position: fixed;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.065) none repeat scroll 0% 0%;
    height: 100%;
    width: 100%;
    z-index: 100000;
    display: none;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: "Jost", "Questrial", "Product sans", "Sans serif";
    position: relative;
    outline: none !important;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

body {
    color: var(--text-color);
}

a:link {
    text-decoration: none;
    color: var(--link-color);
}

a:visited {
    text-decoration: none;
    color: var(--link-color);
}


i {
    padding: 0px;
    margin: 0px;
}


/* NAV */
#nav {
    top: 0px;
    width: 100%;
    background: var(--block-background-opacity);
    backdrop-filter: blur(10px);
    position: fixed;
    height: 65px;
    line-height: 65px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px -38px 18px 34px;
    z-index: 1000;
    display: block;
    border-bottom: 1px solid #00000022;
}

#logo {
    padding-left: 40px;
    font-size: 27px;
    line-height: 59px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#logo:link {
    color: #2068ff;
}


#logo:visited {
    color: #2068ff;
}


#logo p {
    padding: 0px;
    margin: 0px;
    display: inline;
    color: var(--link-color);;
    vertical-align: middle;
    /*padding-top: 8px;*/
}

#logo img {
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    opacity: 0.7;
    margin-right: 10px;
    transition: 0.3s color;
}


#navmenu {
    transition: 0.3s;
    height: 65px;
    float: right;
    padding-right: 40px;
    position: absolute;
    right: 0px;
    line-height: 65px;
}

#navmenu a:link,
#navmenu a:visited {
    color: var(--link-color);
}

#navmenu a:hover {
    height: 68px;
}

#profilepicture {
    border-radius: 1000px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-top: 10px;
}

#messages {
    padding: 10px;
    margin: 10px;
    border-radius: 1000px;
    line-height: 0;
    height: 26px !important;
}

#messages:hover {
    background: #00000012;
    cursor: pointer;
}

#messages:focus {
    background: #00000032;
}

#messagescontainer {
    position: absolute;
    min-width: 100px;
    min-height: 100px;
    top: 67px;
    background: var(--block-background);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px 0px;
    border-radius: 7px;
    right: 92px;
}

.notification {
    border-bottom: #EEEEEE 1px solid;
    padding: 15px 20px;
    box-sizing: border-box;
    line-height: 24px;
    min-width: 200px;
}

.notification h4 {
    color: #212121;
    font-size: 18px;
}

.notification p {
    color: #323232;
    font-size: 17px;
}

.notification .time {
    display: block;
    font-size: 15px;
    color: #545454;
}


.navbutton {
    padding-left: 10px;
    padding-right: 10px;
}




#main {
    transition: margin-left .5s;
    padding: 16px;
    padding-top: 30px;
}



.menubtn {
    color: var(--link-color);
    margin-left: 20px;
    font-size: 30px !important;
    margin-top: 13.3px;
    margin-bottom: 15px;
    padding: 4px;
    border-radius: 100%;
    cursor: pointer;
    display: none !important;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: transparent;
    background: #1a1e27;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: #00000011 0px 0px 4px 1px;
  }
  
  .hljs,
  .hljs-tag,
  .hljs-subst {
    color: #f8f8f2;
  }
  
  .hljs-strong,
  .hljs-emphasis {
    color: #a8a8a2;
  }
  
  .hljs-bullet,
  .hljs-quote,
  .hljs-number,
  .hljs-regexp,
  .hljs-literal,
  .hljs-link {
    color: #ae81ff;
  }
  
  .hljs-code,
  .hljs-title,
  .hljs-section,
  .hljs-selector-class {
    color: #a6e22e;
  }
  
  .hljs-strong {
    font-weight: normal;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-name {
    color: #b294bb;
  }
  
  .hljs-keyword {
      font-weight: normal;
  }
  
  .hljs-symbol,
  .hljs-attribute,
  .hljs-attr {
    color: #66d9ef;
  }
  
  .hljs-params,
  .hljs-class .hljs-title {
    color: #f8f8f2;
  }
  
  .hljs-type,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-selector-id,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-variable {
    color: #ff7567;
  }
  
  .hljs-deletion,
  .hljs-meta {
    color: #ff7567;
  }
  
  .hljs-comment {
  color: #75715e
  }
  
  .hljs-string {
  color: #b5bd68;
  }
  

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {
    background: #323232;
}

::-webkit-scrollbar-thumb:hover {
    background: #767676;
}

.contents {
    max-width: 1100px;
    margin: 0px auto;
    background: var(--block-background);;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: #00000011 0px 0px 4px 1px;
    border-radius: 5px;
}

/* FLAT DESIGN */
.flatInput {
    width: 100%;
    border: 2px solid #EEEEEE;
    background: var(--block-background);
    padding: 8px;
    margin: 10px 0px;
    display: block;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    border-radius: 5px;
    transition: 0.3s;
    box-sizing: border-box;
}

.flatInput:hover {
    border: 2px solid #4542f4;
}

.flatInput:focus {
    border: 2px solid #4542f4;
}

.flatButton1 {
    background: #4542f4;
    padding: 8px 26px;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
}

.flatButton1:link, .flatButton1:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.flatButton2 {
    background: #4542f4;
    padding: 12px 20px;
    border-radius: 1000px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3), 0 2px 6px 2px rgba(0,0,0,0.15);
    display: inline-block;
    transition: 0.3s box-shadow;
}

.flatButton2:focus {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3), 0 5px 7px 6px rgba(0,0,0,0.15);
}

.flatButton2 i {
    vertical-align: middle;
    padding-bottom: 2px;
    padding-right: 8px;
}

.flatButton2 span {
    vertical-align: middle;
    padding-bottom: 2px;
    padding-right: 4px;
}

.flatButton2:link, .flatButton2:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.flatRoundButton1 {
    border-radius: 100%;
    padding: 10px;
    height: 30px;
    width: 30px;
    display: inline-block;
}

.flatRoundButton1 i {
    font-size: 30px;
}

/* Classposts */
#classPosts {
    margin-top: 20px;
}

.classPost {
    border: solid #CCCCCC 2px;
    border-radius: 6px;
    padding: 7px 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}

.classPost:hover {
    border: solid #4542f4 2px;
}

.classPostTitle {
    display: block;
    color: #222222;
    font-size: 18px;
}

.classPostPost {
    display: block;
    color: #767676;
    max-height: 400px;
    font-size: 13px;
}

#courseToolbar {
    display: flex;
    margin: auto 0px;
    position: fixed;
    top: 0px;
    z-index: 10000000;
    height: 65px;

    left: 50%;
    width: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}



.courseToolbarSection {
    width: 106px;
    text-align: center;
    cursor: pointer;
    padding-top: 7px;
    color: #434343;
}

.courseToolbarSection i {
    font-size: 28px;
    display: block;
}

.courseToolbarSelected {
    border-bottom: 3px #4542f4 solid;
    background: #4542f433;
    color: #4542f4;
}

.course_peoplelistentry {
    display: block;
    height: 50px;
}

.course_peoplelistentry a {
    color: #323232;
    font-size: 18px;
    padding-left: 20px;
}

.course_peoplelistentry img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    vertical-align: middle;
}

#userautocompletion {
    border-radius: 5px;
    border: #EEEEEE 2px solid;
    border-bottom: none;
    position: absolute;
    background: var(--block-background);
    min-width: 200px;
    max-width: 100%;
    z-index: 100;
}

.userautocompletionfocussed {
    background: #EEEEEE;
}

#userautocompletion div {
    padding: 10px;
    border-bottom: #EEEEEE 2px solid;
    cursor: pointer;
}

#userautocompletion div img {
    border-radius: 500px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 20px;
}

.colorSelection {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100px;
    cursor: pointer;
    border: #323232 solid 2px;
}

@media screen and (max-width: 720px) {
    #logo {
        padding-left: 20px;
    }

    .menubtn {
        display: block !important;
    }

    .contents {
        margin-right: 0px;
        background: transparent;
    }

    #courseToolbar {
        position: relative;
        z-index: 0;
    }

}



.user_contents {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 270px;
}

.user_middle_test {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.user_welcome_text {
    font-size: 29px;
}

.user_profilepic {
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    border: #173efb 3px solid;
}


.user_edit_before {
    display: block;
    font-size: 15px;
    color: #999999;
    margin-top: 10px;
}

.user_edit {
    display: block;
    border: none;
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
}

th {
    font-weight: normal;
}

.page_heading {
    text-align: center;
    margin: 0px auto;
}

.page_heading img {
    display:block;
    margin: 0px auto;
    margin-bottom: 12px;
}



@media screen and (max-width: 720px) {
    .user_contents {
        padding-right: 0px;
    }
}

@media screen and (max-width: 600px) {
    #logo p {
        display: none;
    }
}

table {
    min-width: 40%;
    border-spacing: 0;
    border-collapse: collapse;
}

table th, table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
    margin: 0px;
}

.contents h2 {
    margin-top: 20px;
}


blockquote {
    border-left: 3px solid #00000022;
    padding-left: 10px;
}

#overview {
    position: fixed;
    right: 30px;
    top: 120px;
}

#overview a:link,
#overview a:active,
#overview a:visited {
    color: #fa6767;
    text-decoration: none;
    display: block;
}

#overview h3 {
    color: #fa6767;
    margin-bottom: 10px;
}


@media screen and (max-width: 1400px) {
    #overview {
        display: none;
    }
}



.sidenav {
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 65px;
    background: var(--block-background);
    overflow-x: hidden;
    transition: width 1s;
}

.sideicon {
    font-size: 20px;
    vertical-align: middle;
}

.sidenava {
    padding: 3px 8px 3px 10px;
    text-decoration: none;
    font-size: 18px;
    color: color: var(--link-color);;
    display: block;
    transition: 0.3s;
    border-radius: 0px 100px 100px 0px;
    width: 240px;
}

.sidenavselected {
    color: #4542f4;
    background: #4542f444;
}

.sidenavselected::after {
    color: #4542f4;
}

.sidenavselected i {
    color: #4542f4;
    transition: transform 0.3s;
}

.sidenava:link {
    color: var(--link-color);
}

.sidenava:visited {
    color: var(--link-color);
}


.sidenava:hover {
    color: var(--link-color);
}

.sidenav-submenu {
    display: none;
}

.sidenav-submenu .sidenava {
    padding: 3px 8px 3px 18px;
}

.drawerbtn::after {
    content: attr(title);
    margin-left: 10px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 270px;
}

@media screen and (max-width: 720px) {
    .sidenav {
        display: none;
    }

    .sidenav a {
        font-size: 20px;
    }

    #main {
        margin-left: 0px;
    }


    .sideicon {
        font-size: 30px;
    }


}

#behind_sidenav {
    height: 100%;
    width: 270px;
    position: fixed;
    left: 0px;
    z-index: 100;
}/*  FlatWebKit By InteraApps   */.fwk_btn1 {
                                      color: #FFFFFF !important;
                                      background: #4683e9;
                                      min-width: 0;
                                      padding: 6px 23px;
                                      border-radius: 6px;
                                      text-decoration: none !important;
                                      transition: 0.3s;
                                  }

.fwk_btn2 {
    color: #FFFFFF !important;
    background: #4683e9;
    min-width: 0;
    padding: 6px 23px;
    border-radius: 999px;
    text-decoration: none !important;
    transition: 0.3s;
}

.fwk_btn3 {
    color: #FFFFFF !important;
    background: #4683e9;
    min-width: 0;
    padding: 6px 23px;
    text-decoration: none !important;
    transition: 0.3s;
}

.fwk_btn4 {
    color: #FFFFFF !important;
    background: #4683e9;
    min-width: 0;
    padding: 6px 23px;
    border-radius: 10px;
    text-decoration: none !important;
    transition: 0.3s;
}









/*        COLORS         */
.fwk_color_red {
    background: #eb3232 !important;
    color: #FFFFFF !important;
}

.fwk_color_red:hover {
    background: #DD3232 !important;
}

.fwk_color_green {
    background: #54eb54 !important;
    color: #FFFFFF !important;
}

.fwk_color_blue_hover {
    background: rgba(70, 131, 233, 0.0) !important;
    color: rgb(70, 131, 233) !important;
}
.fwk_color_blue_hover:hover {
    background: rgba(70, 131, 233, 0.25) !important;
}
.fwk_color_blue_hover:focus {
    background: rgba(70, 131, 233, 0.35) !important;
}





/*       BUTTON-SHADOWS          */
.fwk_shadow1:hover {
    box-shadow: 0 5px 8px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
.fwk_shadow1:focus {
    box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.fwk_shadow1 {
    box-shadow: 0 3px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.fwk_shadow2:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.fwk_shadow2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}











.fwk_wavefix {
    margin-bottom: -10px !important;
    margin-top: -3px !important;
}





hr {
    margin: 10px 0px;
    border-style: none;
    border: 0.3px solid #eeeeee;
}









.fwk_card1 {
    background: var(--block-background);
    /*box-shadow: 0 3px 4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    border: solid 1.4px #EEEEEE;
    border-radius: 9px;
    width: 100%;
}

.fwk_card1_out {
    width: 48%;
    margin-right: 2%;
}

.fwk_card1_top {
    padding: 11px 16px;
    padding-bottom: 10px;
    min-height: 130px;
}

.fwk_card1_bottom {
    border-top: #EEEEEE 1px solid;
    padding: 11px 10px;
}

.fwk_cards {
    display: flex
}

.fks_bigcard {
    background: var(--block-background);
    border: solid 1.4px #EEEEEE;
    border-radius: 9px;
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
}

.fks_bigcard_title {
    font-size: 20px;
}

@media screen and (max-width: 720px) {

}

@media screen and (max-width: 1200px) {
    .fwk_cards {
        display: block;
    }

    .fwk_card1_out {
        width: 100%;
        margin-bottom: 50px;
    }
}


#folders {
    display: flex;
    width: fit-content;
    margin: auto;
    flex-wrap: wrap;
}

#folders a,
#folders a:visited
#folders a:link {
    display: block;
    margin: 0px 30px;
    text-align: center;
    color: var(--link-color);
    text-decoration: none;
    transition: background 0.3s, border-radius 0.3s;
    padding: 10px 20px;
}

#folders a:hover {
    background: #00000011;
    border-radius: 10px;
}

#folders a img {
    display: block;
    width: 70px;
    margin-bottom: 40px;
}

.fab,
.fab:visited,
.fab:link {
    background: #4542f4;
    padding: 15px 20px;
    border-radius: 200px;
    text-decoration: none;
    color: #FFFFFF;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
    cursor: pointer;
    user-select: none;
    z-index: 1000;
}

.fab i {
    font-family: 'Material Icons Outlined';
    font-size: 24px;
    font-style: normal;
    vertical-align: middle;
}

.fab span {
    vertical-align: middle;
    margin-left: 8px;
    font-size: 18px;
    text-transform: uppercase;
}

@media screen and (max-width: 720px) {
    #ia-global-tool-menu {
        display: none;
    }

    #ia-global-tool-menu-dropdown {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .fab {
        padding: 18px;
    }

    .fab span {
        display: none;
    }
}

/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves
 *
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE */
 .waves-effect {
    position: relative;
    cursor: pointer;
    /* display: inline-block; */
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: scale(0) translate(0, 0);
    -moz-transform: scale(0) translate(0, 0);
    -ms-transform: scale(0) translate(0, 0);
    -o-transform: scale(0) translate(0, 0);
    transform: scale(0) translate(0, 0);
    pointer-events: none;
}
.waves-effect.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.4);
}
.waves-effect.waves-classic .waves-ripple {
    background: rgba(0, 0, 0, 0.2);
}
.waves-effect.waves-classic.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.4);
}
.waves-notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
.waves-button,
.waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}
.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: none;
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    z-index: -50;
}
.waves-button {
    border-radius: 0.2em;
}
.waves-button-input {
    margin: 0;
}
.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}
.waves-input-wrapper.waves-button {
    padding: 0;
}
.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
}
.waves-float {
    -webkit-mask-image: none;
    -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.waves-float:active {
    -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}
.waves-block {
    display: block;
}

.waves-effect.waves-red .waves-ripple {
    background-color: #f44242;
}

.waves-effect.waves-blue .waves-ripple {
    background-color: #4147f4;
}

.waves-effect.waves-turquoise .waves-ripple {
    background-color: #41f4a0;
}

.waves-effect.waves-green .waves-ripple {
    background-color: #52f441;
}